NEWS_UPDATE_INTERVAL_MINUTES = 5

MIN_IMPACT_SCORE  = 16                  # 12 is for about 40 news per day
FOREX_MIN_SCORE   = 2                   # Minimum keyword score for forex event alerts

RESET_DATABASE = false                 # Delete & recreate DB on startup


# Telegram
TELEGRAM_BOT_TOKEN  = "YOUR_BOT_TOKEN"
TELEGRAM_CHANNEL_ID = YOUR_CHANNEL_ID

# App
DB_NAME = "news_storage.db"

# CNBC_RSS_URL        = "https://www.cnbc.com/id/100003114/device/rss/rss.html"
# YAHOO_RSS_URL       = "https://finance.yahoo.com/news/rssindex"
# REUTERS_RSS_URL     = "http://feeds.reuters.com/reuters/worldNews"
# INVESTING_RSS_URL   = "https://www.investing.com/rss/news_25.rss"

# ForexFactory Calendar
FOREXFACTORY_CALENDAR_URL    = "https://nfs.faireconomy.media/ff_calendar_thisweek.xml"
CALENDAR_TIMEZONE           = "UTC"
FOREX_ALERT_IMPACTS         = "High,Medium,Low"     # "High", "High,Medium", "High,Medium,Low"

OPENROUTER_API_KEY=***
OPENROUTER_MODEL    = "deepseek/deepseek-v4-flash"
OPENROUTER_BASE_URL = "https://openrouter.ai/api/v1"

# Scoring
HIGH_IMPACT_KEYWORDS='{
"Fed":5,
"FOMC":5,
"Federal Reserve":5,
"Interest Rate":5,
"Rate Hike":5,
"Rate Cut":5,
"Dot Plot":5,
"CPI":5,
"Core CPI":5,
"PCE":5,
"Core PCE":5,
"Nonfarm Payrolls":5,
"NFP":5,
"GDP":5,
"Recession":5,
"Debt Ceiling":5,
"Bank Collapse":5,
"Bank Crisis":5,
"War":5,
"Iran":5,
"Israel":5,
"OPEC":5,
"OPEC+":5,
"Oil Supply":5,
"Sanctions":5,
"Geopolitical Tension":5,
"Bond Yield":4,
"10-Year Yield":4,
"US Treasury Yield":4,
"Yield Surge":4,
"USD":4,
"US Dollar":4,
"DXY":4,
"Gold":4,
"XAU":4,
"Safe Haven":4,
"Inflation":4,
"Inflation Rate":4,
"ECB":4,
"BoE":4,
"Bank of Japan":4,
"BOJ":4,
"PMI":4,
"ISM":4,
"ADP":4,
"Unemployment":4,
"Jobless Claims":4,
"Retail Sales":4,
"Consumer Confidence":4,
"Treasury":4,
"Credit Rating":4,
"Deficit":4,
"China":4,
"Russia":4,
"Ukraine":4,
"Middle East":4,
"Strait of Hormuz":4,
"Red Sea":4,
"Hormuz":4,
"Missile":4,
"Military Strike":4,
"Hawkish":4,
"Dovish":4,
"Bitcoin":4,
"BTC":4,
"Spot Bitcoin ETF":4,
"Dow Jones":3,
"S&P 500":3,
"NASDAQ":3,
"Volatility":3,
"Liquidity":3,
"Risk-Off":3,
"Risk-On":3,
"Emerging Markets":3,
"Commodities":3,
"Hedging":3,
"Supply Chain":3,
"Supply":3,
"Demand":3,
"Housing":3,
"Corporate Earnings":3,
"NATO":3,
"Taiwan":3,
"South China Sea":3,
"Cryptocurrency":3,
"Crypto Market":3,
"EUR":2,
"GBP":2,
"JPY":2,
"Yen":2,
"CHF":2,
"CAD":2,
"AUD":2,
"NZD":2,
"CNY":2,
"Forex":2,
"Price Action":2
}'


SOURCE_SCORE='{
"Yahoo": 0,
"Reuters": 0,
"CNBC": 0,
"Investing.com": 0,
"ForexFactory": 3
}'

ADMIN_TELEGRAM_ID = YOUR_TELEGRAM_USER_ID
# BOT_PANEL_BOT_TOKEN = ""                            # empty = uses main bot
BOT_PANEL = false
